<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.mirasense.scanditsdk.plugin"
    version="1.1.0">

    <name>ScanditBarcodeScanner</name>

    <!-- ios -->
    <platform name="ios">
		<plugins-plist key="ScanditSDK" string="ScanditSDK" />
        <!-- feature tag in config.xml -->
        <config-file target="config.xml" parent="/widget">
            <feature name="ScanditSDK">
                <param name="ios-package" value="ScanditSDK"/>
            </feature>
        </config-file>
        <!-- Cordova >= 2.3 -->
        <!-- deprecated plugins tag in config.xml -->
        <!-- <config-file target="config.xml" parent="/*/plugins">
            <plugin name="ScanditSDK" value="ScanditSDK"/>
        </config-file> -->

        <!-- Resources for Scandit SDK -->
		<resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/beep.wav" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/empty.cpp" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/poweredby.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/poweredby@2x.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/flashlight-turn-off-icon.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/flashlight-turn-off-icon@2x.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/flashlight-turn-on-icon.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/flashlight-turn-on-icon@2x.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/flashlight-turn-off-icon-pressed.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/flashlight-turn-off-icon-pressed@2x.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/flashlight-turn-on-icon-pressed.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/flashlight-turn-on-icon-pressed@2x.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/camera-swap-icon-pressed.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/camera-swap-icon-pressed@2x.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/camera-swap-icon.png" />
        <resource-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/camera-swap-icon@2x.png" />
        
        <!-- Header files of Scandit SDK -->
        <header-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/ScanditSDKBarcodePicker.h" target-dir="ScanditSDK"/>
        <header-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/ScanditSDKOverlayController.h" target-dir="ScanditSDK"/>
        <source-file src="src/ios/scanditsdk-community-ios_4.0.1/ScanditSDK/libscanditsdk-iphone-4.0.1.a" framework="true" target-dir="ScanditSDK" compiler-flags="-fno-objc-arc"/>

        <!-- Scandit SDK Cordova Plugin Source for iOS -->
        <header-file src="src/ios/ScanditSDK.h" />
        <source-file src="src/ios/ScanditSDK.mm"  />
        <header-file src="src/ios/ScanditSDKRotatingBarcodePicker.h"  />
        <source-file src="src/ios/ScanditSDKRotatingBarcodePicker.m"  />
        
        <!-- Frameworks needed by Scandit SDK for iOS -->
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libiconv.dylib" />
        <framework src="libz.dylib" />
        <framework src="libc++.dylib" />
    </platform>

    <platform name="android">
        <!-- register plugin -->
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="ScanditSDK">
                <param name="android-package" value="com.mirasense.scanditsdk.plugin.ScanditSDK"/>
            </feature>
        </config-file>
        <!-- add permissions in AndroidManifest.xml file-->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
        <!-- add ScanditSDK Activity to the "application" section of AndroidManifest.xml file -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.mirasense.scanditsdk.plugin.ScanditSDKActivity"/>
        </config-file>
    <!-- copy Scandit SDK libs -->
    <source-file src="src/android/scanditsdk-community-android_4.0.1/libs/scanditsdk-barcodepicker-android-4.0.1.jar" target-dir="libs"/>
    <source-file src="src/android/scanditsdk-community-android_4.0.1/libs/armeabi/libscanditsdk-android-4.0.1.so" target-dir="libs/armeabi"/>
    <source-file src="src/android/scanditsdk-community-android_4.0.1/libs/armeabi-v7a/libscanditsdk-android-4.0.1.so" target-dir="libs/armeabi-v7a"/>
    <source-file src="src/android/scanditsdk-community-android_4.0.1/libs/x86/libscanditsdk-android-4.0.1.so" target-dir="libs/x86"/>
    <!-- copy Scandit SDK resources (images, beep) -->
    <source-file src="src/android/scanditsdk-community-android_4.0.1/res/raw/beep.wav" target-dir="res/raw"/>
    <source-file src="src/android/scanditsdk-community-android_4.0.1/res/raw/poweredby2x.png" target-dir="res/raw"/>
    <source-file src="src/android/scanditsdk-community-android_4.0.1/res/raw/ic_btn_search.png" target-dir="res/raw"/>
    <source-file src="src/android/scanditsdk-community-android_4.0.1/res/raw/flashlight_turn_off_icon.png" target-dir="res/raw"/>
    <source-file src="src/android/scanditsdk-community-android_4.0.1/res/raw/flashlight_turn_on_icon.png" target-dir="res/raw"/>
    <!-- add plugin source code -->
    <source-file src="src/android/com/mirasense/scanditsdk/plugin/ScanditSDK.java" target-dir="src/com/mirasense/scanditsdk/plugin"/>
    <source-file src="src/android/com/mirasense/scanditsdk/plugin/ScanditSDKActivity.java" target-dir="src/com/mirasense/scanditsdk/plugin"/>
  </platform>
</plugin>
